
@{
    ViewBag.Title = "Login - Hospital Management System";
}

<div class="container" style="padding-top: 30px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>MEMBERS ONLY</strong></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="username">USERNAME</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD</label>
                        <input type="password" class="form-control" />
                    </div>
                    <a href="#">Forgot Password?</a>
                    <button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Login</button>
                </div>
            </div>

            <!div class="alert alert-danger">
                <strong></strong>
            </!div>

        </div>
    </div>
</div>

